@model IEnumerable<Site.ViewModels.ReturnDashboardViewModel>

@{
    ViewBag.Title = "GetAction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Result Windows Services | RabbitMQ</h2>
<br />
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<div class="row">
    <div class="col-md-4">
        Quantidade de máquinas online: 
    </div>

    <div class="col-md-4">
        Quantidade de máquinas em alerta
    </div>

    <div class="col-md-4">
        Quantidade de máquinas offline
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered" id="tableonline">
            <tr>
                <th>Machine</th>
                <th>Status</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.AplicationDomain.MachiName
                    </td>

                    <td>
                        @item.Status
                    </td>
                </tr>
            }

        </table>
    </div>

    <div class="col-md-6">
        <table class="table table-bordered" id="tableonline">
            <tr>
                <th>Machine</th>
                <th>Status</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.AplicationDomain.MachiName
                    </td>

                    <td>
                        @item.Status
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
